@using DoanWebQLMYPHAM.Models;
@model GioHang
@{
    ViewBag.Title = "XacNhanGioHang";
    Layout = "~/Views/_LayoutQLMyPham.cshtml";
    KhachHang kh = ViewBag.khach;
}


<div class="container">
    <div class="text-center">
        <form action="~/Chitiet/LuuDonHang" method="post" >
            <table class="table">
                <tr>
                    <td colspan="2">Thông tin đặt hàng</td>
                </tr>
                <tr>
                    <td>Họ tên: @kh.HoTen</td>
                    <td>Điện thoại: @kh.DienThoai</td>
                </tr>
                <tr>
                    <td>Địa chỉ: @kh.DiaChi</td>
                </tr>
                <tr>
                    <td>Ngày Đặt : @DateTime.Now.ToShortDateString()</td>
                    <td>Ngày Giao : <input type="date" name="txtNgayGiao" id="txtNgaygiao" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <table>
                            <tr>
                                <td class="text-center" colspan="4" style="color:red">Thông tin đặt hàng</td>
                            </tr>
                            <tr>
                                <td>Mã sản Phẩm </td>
                                <td>Tên sản phẩm </td>
                                <td>Số lượng </td>
                                <td>Đơn giá </td>
                                <td></td>
                            </tr>
                            @foreach (CardItem item in Model.list)
                            {
                                <tr>
                                    <td>@item.iMasp</td>
                                    <td>@item.sTensp</td>
                                    <td>@item.iSoluong</td>
                                    <td>@item.dDongia</td>
                                    <td><img src="~/Content/HinhAnh/@item.sAnhbia" class="w-25 h-25"/></td>
                                </tr>
                            }
                            <tr>
                                <td colspan="2">Tổng SL: @Model.TongSlhang()</td>
                                <td colspan="2">Tổng tiền: @Model.Tongthanhtien()</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">
                                    <input type="submit" value="Đồng ý đặt hàng" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>



    </div>
</div>