@using DoanWebQLMYPHAM.Models;
@model GioHang
@{
    ViewBag.Title = "XacNhanGioHang";
    Layout = "~/Views/_LayoutQLMyPham.cshtml";
    KhachHang kh = ViewBag.khach;
}



<div class="row container-fluid">
    <div class="col-md-5"></div>

</div>
<form action="~/Chitiet/LuuDonHang" method="post" onsubmit="return validateForm()">
    <table class="table-bordered">
        <tr>
            <td colspan="2">Thong tin dat hang</td>
        </tr>
        <tr>
            <td>@kh.HoTen</td>
            <td>@kh.DienThoai</td>
        </tr>
        <tr>
            <td colspan="2"> @kh.DiaChi</td>
        </tr>
        <tr>
            <td>Ngay Dat : @DateTime.Now.ToShortDateString()</td>
            <td>Ngay GIao :<input type="date" name="txtNgayGiao" id="txtNgaygiao" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <td class="text-center" colspan="4" style="color:red">Thông tin đặt hàng</td>
                    </tr>
                    <tr>
                        <td>Mã sản Phẩm </td>
                        <td>Tên sản phẩm </td>
                        <td>Số lượng </td>
                        <td>Đơn giá </td>
                    </tr>
                    @foreach (CardItem item in Model.list)
                    {
                        <tr>
                            <td>@item.iMasp</td>
                            <td>@item.sTensp</td>
                            <td>@item.iSoluong</td>
                            <td>@item.dDongia</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2">Tổng SL: @Model.TongSlhang()</td>
                        <td colspan="2">Tổng tiền: @Model.Tongthanhtien()</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <input type="submit" value="Đồng ý đặt hàng" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>



<script language="javascript">
    function validateForm() {
        // Bước 1: Lấy giá trị của ngaygiao 
        var ngaygiao = document.getElementById('txtNgaygiao').value;
        // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
        if (ngaygiao == '') {
            alert('Bạn chưa nhập ngày tháng');
        }
        else {
            alert('Dữ liệu hợp lệ, ta có thể chấp nhận submit form');
            return true;
        }
        return false;
    }
</script>
