@using DoanWebQLMYPHAM.Models;
@model GioHang
@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/_LayoutQLMyPham.cshtml";

}

    <table class="table">
        <tr>
            
            <td>Tên sản phẩm</td>
            <td>Ảnh</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @foreach (CardItem item in Model.list)
        {
            <tr>
                
                <td>@item.sTensp</td>
                <td><img src="~/Content/HinhAnh/@item.sAnhbia" class="w-50 h-50"/></td>
                <td>@item.iSoluong</td>
                <td>@item.dDongia</td>
                <td>@item.ThanhTien</td>
            </tr>
        }
        <tr>
            <td>Tổng</td>
            <td></td>
            <td></td>
            <td>@Model.TongSlhang()</td>
            <td></td>
            <td>@Model.Tongthanhtien()</td>
            <td><button class="btn btn-secondary">@Html.ActionLink("Xóa giỏ hàng", "XoaGioHang", "Chitiet")</button></td>
            <td><button class="btn btn-secondary">@Html.ActionLink("Đặt hàng", "XacNhanGioHang", "Chitiet")</button></td>
        </tr>
    </table>