@using DoanWebQLMYPHAM.Models;
@model GioHang
@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/_LayoutQLMyPham.cshtml";

}

@if (Model != null)
{
    <table class="table">
        <tr>

            <td>Tên sản phẩm</td>
            <td>Ảnh</td>
            <td>Số lượng</td>
            <td>Đơn giá</td>
            <td>Thành tiền</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        @if (Model.list != null)
        {
            foreach (CardItem item in Model.list)
            {
                <tr>

                    <td>@item.sTensp</td>
                    <td><img src="~/Content/HinhAnh/@item.sAnhbia" class="w-25 h-25" /></td>
                    <td>@item.iSoluong</td>
                    <td>@item.dDongia</td>
                    <td>@item.ThanhTien</td>
                    <td>
                        @Html.ActionLink("Xóa sản phẩm", "Xoasp", "Chitiet", new { msp = item.iMasp, sl = item.iSoluong },null)
                    </td>
                </tr>
            }
        }
        <tr>
            <td>Tổng</td>
            <td></td>
            <td></td>
            <td>@Model.TongSlhang()</td>
            <td></td>
            <td>@Model.Tongthanhtien()</td>
            <td><button class="btn btn-secondary">@Html.ActionLink("Xóa giỏ hàng", "XoaGioHang", "Chitiet")</button></td>
            <td>
                @if (Model.SoMatHang() != 0)
                {
                    <button class="btn btn-secondary">@Html.ActionLink("Đặt hàng", "XacNhanGioHang", "Chitiet")</button>
                }
                else
                {
                    <button class="btn btn-secondary">@Html.ActionLink("Về trang chủ", "Vetrangchu", "Chitiet")</button>
                }
            </td>
        </tr>
    </table>
}
else
{
    <lable>
        Chưa có sản phẩm 
    </lable>
}
