@using DoanWebQLMYPHAM.Models;
@{
    ViewBag.Title = "getbyId";
    Layout = "~/Views/_LayoutQLMyPham.cshtml";
    var sp = (Sanpham)ViewBag.sp;

}
@model  Sanpham


<div class="container-fluid">
    <form action="/MyPham/Update" method="post" enctype="multipart/form-data" onsubmit="return myFunction()">
        <div class="form-group">
            <label>Ma Sản Phẩm  </label>
            <div class="col-md-10">
                <input type="text" name="txtMa1" value="@sp.Masp" style="display:none;" />
                <input type="text" name="txtMa12" disabled value="@sp.Masp"  />
            </div>
        </div>
        <div class="form-group">
            <label>Tên Sản Phẩm  </label>
            <div class="col-md-10">
                <input type="text" name="txtTen1" value="@sp.Tensp" />
            </div>
        </div>
        <div class="form-group">
            <label>Mô tả   </label>
            <div class="container-fluid">
                <textarea name="Mota1" value=""> @sp.MoTa </textarea>

            </div>
        </div>
        <div class="form-group">

            <label>Giá Bán   </label>
            <div class="col-md-10">

                <input type="text" name="txtGiaban1" value="@sp.GiaBan" />
            </div>
        </div>
        <div class="form-group">
            <label>Ngày câp Nhập   </label>
            <div class="col-md-10">
                <input type="date" name="txtNgaycapnhap1" id="e" value="@String.Format("{0:yyyy-MM-dd}",sp.NgayCapNhat)" />
            </div>
        </div>
        <div class="form-group">
            <label>Thương hiệu   </label>
            <div class="col-md-10">
                @Html.DropDownList("th");
            </div>
        </div>
        <div class="form-group">
            <label>Xuất Xứ </label>
            <div class="col-md-10">
                @Html.DropDownList("xx");
            </div>
        </div>
        <div class="form-group">
            <label>Ảnh bìa  </label>
            <div class="col-md-10">
                <img src="~/Content/HinhAnh/@sp.AnhBia" />
            </div>
        </div>
        <div class="form-group">
            <label>Số Lượng Tồn  </label>
            <div class="col-md-10">
                <input type="text" name="txtSoluongton1" value="@sp.SoLuongTon" />
            </div>
        </div>
        @*<div class="form-group">
            <label>Mới </label>
            <div class="col-md-10">
                <input type="checkbox" name="txtMoi" value="@sp.Moi" />
            </div>
        </div>*@
        <button type="submit" class="align-content-lg-center">Cập nhập </button>
    </form>
</div>



