<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/slick.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/slidesytle.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
       <div class="row" style="background-color:goldenrod; height:30px">
           <div class="col-md-5"></div>
            <p class="mt-1" style="font-size:13px;color:white">Miễn phí free ship với đơn hàng trên 1.000.000 đ</p>
        </div>
        <div class="row mt-2">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <img class="w-50" src="~/Content/HinhAnh/Logo_selenia.jpg" />
            </div>
            <div class="col-md-5 mt-1 form-check-inline">
                <input style="height:40px" class="container" type="text" placeholder="Tìm kiếm sản phẩm..." />
                <button type="submit"class="btn" style="background-color:goldenrod" ><img style="height:25px" src="~/Content/HinhAnh/Search-512.png" /> </button>
            </div>
            <div class="col-md-3 mt-1 form-check-inline">
                <a href="@Url.Action("TenAcTionDangNhap","TenController")"><img src="~/Content/HinhAnh/Dangnhap.png"/></a>
                <img class="mt-2 ml-3" src="~/Content/HinhAnh/gach.png" />
                <a href="@Url.Action("TenAcTionGioHang  ","TenController")"><img class="mt-2 ml-3" src="~/Content/HinhAnh/giohang.png" /></a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-1"></div>
            <div class="form-check-inline">
                <a class="btn" href="@Url.Action("Index","Default1")" style="background-color:white; color:black; height:50px; font-size:15px"><b>TRANG CHỦ</b></a>
                <div class="nav navbar">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle ml-5" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:white; color:black; height:50px; font-size:15px"><b>THƯƠNG HIỆU</b></a>
                        <div class="dropdown-menu ml-5" aria-labelledby="dropdownMenu">
                            <a class="dropdown-item" href="#">A</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">B</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">C</a>
                        </div>
                    </div>
                </div>
                <a class="btn ml-5" href="@Url.Action("Index","Default1")" style="background-color:white; color:black; height:50px; font-size:15px"><b>GIỚI THIỆU</b></a>
                <a class="btn ml-5" href="@Url.Action("Index","Default1")" style="background-color:white; color:black; height:50px; font-size:15px"><b>LIÊN HỆ</b></a>
             </div>
        </div>
        <div class="row">
            @RenderBody()
        </div>
        <div class="row bg-dark">
            <div class="col-md-2"></div>
            <div class="col-md-2 mt-5">
                <b style="color:white">Giới thiệu</b><br />
                <p class="mt-3" style="color:grey; font-size:14px">Trang mua sắm trực tuyến các sản phẩm chăm sóc da uy tín</p>
                <img class="w-50" src="~/Content/HinhAnh/bocongthuong.png" />
                <div class="mt-5">
                    <a href="@Url.Action("Index","Default1")"><img style="width:40px" src="~/Content/HinhAnh/facebook.png" /></a>
                    <a href="@Url.Action("Index","Default1")"><img class="ml-2" style="width:40px" src="~/Content/HinhAnh/youtube.png" /></a>
                    <a href="@Url.Action("Index","Default1")"><img class="ml-2" style="width:40px" src="~/Content/HinhAnh/pinterest.png" /></a>
                    <a href="@Url.Action("Index","Default1")"><img class="ml-2" style="width:40px" src="~/Content/HinhAnh/twitter.png" /></a>
                    <a href="@Url.Action("Index","Default1")"><img class="ml-2" style="width:40px" src="~/Content/HinhAnh/insta.png" /></a>
                </div>
            </div>
            <div class="col-md-2 mt-5 ml-5">
                <b style="color:white">Liên kết</b><br />
                <div class="mt-3"><a style="color:grey" href="@Url.Action("TenAcTion","TenController")">&#8811;&nbsp; Sản phẩm</a></div>
                <div class="mt-2"><a style="color:grey" href="@Url.Action("TenAcTion","TenController")">&#8811;&nbsp; Tìm kiếm</a></div>
                <div class="mt-2"><a style="color:grey" href="@Url.Action("TenAcTion","TenController")">&#8811;&nbsp; Giới thiệu</a></div>
                <div class="mt-2"><a style="color:grey" href="@Url.Action("TenAcTion","TenController")">&#8811;&nbsp; Liên hệ</a></div>
                <div class="mt-2"><a style="color:grey" href="@Url.Action("TenAcTion","TenController")">&#8811;&nbsp; Tin tức</a></div>
            </div>
            <div class="col-md-2 mt-5">
                <b style="color:white">Thông tin liên hệ</b><br />
                <div class="form-check-inline mt-3" style="font-size:11.75px; color:grey">
                    <img style="width:20px" src="~/Content/HinhAnh/vitri.png" />
                    <label class="ml-2">Tầng 4, tòa nhà Flemington, số 182, đường Lê Đại Hành, phường 15, quận 11, Tp. Hồ Chí Minh.</label>
                </div>
                <div class="mt-2" style="font-size:14px; color:grey">
                    <img style="width:20px" src="~/Content/HinhAnh/dienthoai.png" />
                    <label class="ml-2">1900.636.099</label>
                </div>
                <div class="mt-2" style="font-size:14px; color:grey">
                    <img style="width:20px" src="~/Content/HinhAnh/dienthoaiban.png" />
                    <label class="ml-2">1900.636.099</label>
                </div>
                <div class="mt-2" style="font-size:14px; color:grey">
                    <img style="width:20px" src="~/Content/HinhAnh/mail.png" />
                    <label class="ml-2">hi&#64;haravan.com</label>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="container-fluid bg-secondary mt-5" style="height:1px; width:1250px"></div>
        </div>
        <div class="row bg-dark">
            <div class="col-md-5"></div>
            <p class="mt-3" style="color:grey">Coppy right © 2020 Selenia. Powered by Haravan</p>
        </div>
    </div>
    <script src="~/Content/bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
